.App {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding-top: 50px;
}

.App h1 {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App footer {
  font-size: 14px;
  color: #6c757d;
  margin-top: 50px;
}

.App footer a {
  text-decoration: none;
}

.App footer a:hover {
  text-decoration: underline;
  color: #0b58b1;
}

.Search {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Search p {
  font-size: 25px;
  color: #333;
}

.Search form * {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
